@font-face {
  font-family: "iconfont";
  src: url('./iconfont.eot');
  /* IE9 */
  src: url('./iconfont.eot') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./iconfont.svg') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="zy-icon"],
[class*=" zy-icon"] {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zy-icon-pause:before {
  content: "\e6cb";
}

.zy-icon-replay:before {
  content: "\e65c";
}

.zy-icon-stop:before {
  content: "\e600";
}

.zy-icon-play:before {
  content: "\e603";
}